server:
  replicaCount: 2
  
  strategy:
    type: RollingUpdate
  
  podAntiAffinity: "hard"
  
  podDisruptionBudget:
    enabled: true
    minAvailable: 1
  
  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: topology.kubernetes.io/zone
      whenUnsatisfiable: DoNotSchedule
      labelSelector:
        matchLabels:
          app: prometheus
grafana:
  env:
    GF_SERVER_ROOT_URL: "https://dashboard.test.famivandenberg.nl"
