name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: docker/login-action@v3.6.0
      with: 
        logout: false
        username: roelandvdberg
        password: ${{ secrets.PASSWORDDOCKER }}
    - uses: actions/checkout@v4
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Build the Docker image
      run: docker buildx build --platform linux/amd64,linux/arm64 --push -t roelandvdberg/sensor-verwerker:1-${{ github.sha }} ./Local/Sensor-verwerker
    - name: Update latest tag
      run: docker buildx build --platform linux/amd64,linux/arm64 --push -t roelandvdberg/sensor-verwerker:latest ./Local/Sensor-verwerker
