name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: docker/login-action@v3.6.0
    - name: Login docker
      with: 
        username: roelandvdberg
        password: {PASSWORDDOCKER}
    - uses: actions/checkowith@v4
    - name: Build the Docker image
      run: docker buildx build  --platform linux/amd64,linux/arm64  --push  -t roelandvdberg/sensor-verwerker:1-{GITHUB_SHA} ./Local/Sensor-verwerker/.
